USE [master]
GO
/****** Object:  Database [Travel]    Script Date: 11/1/2568 21:00:23 ******/
CREATE DATABASE [Travel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Travel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Travel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Travel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Travel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Travel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Travel]
GO
/****** Object:  Table [dbo].[Location_tb]    Script Date: 11/1/2568 21:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location_tb](
	[LocationID] [int] NOT NULL,
	[LocationName] [nvarchar](50) NULL,
	[Details] [nvarchar](max) NULL,
	[Img] [nvarchar](max) NULL,
	[Province] [nvarchar](max) NULL,
	[TypeID] [int] NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_tb]    Script Date: 11/1/2568 21:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_tb](
	[TypeID] [int] NOT NULL,
	[TypeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_tb]    Script Date: 11/1/2568 21:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_tb](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Useremail] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Role] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Location_tb] ([LocationID], [LocationName], [Details], [Img], [Province], [TypeID]) VALUES (1, N'วัดพระแก้ว', N'วัดที่มีชื่อเสียงที่สุดในประเทศไทย และเป็นที่ประดิษฐานของพระแก้วมรกต พระพุทธรูปที่สำคัญที่สุดของไทย

', N'https://static.thairath.co.th/media/4DQpjUtzLUwmJZZO8tjGjU2UQAke6lo1oic4DDkqk3rC.jpg', N'กรุงเทพมหานคร', 1)
INSERT [dbo].[Location_tb] ([LocationID], [LocationName], [Details], [Img], [Province], [TypeID]) VALUES (2, N'วัดอรุณราชวราราม', N'วัดที่มีสถาปัตยกรรมที่งดงาม ตั้งอยู่ริมแม่น้ำเจ้าพระยาและมีความโดดเด่นด้วยเจดีย์ที่สูงและประดับด้วยกระเบื้องสีต่างๆ', N'https://img.kapook.com/u/2023/sireeporn/Travel-04/wat-arun01.jpg', N'กรุงเทพมหานคร', 1)
INSERT [dbo].[Location_tb] ([LocationID], [LocationName], [Details], [Img], [Province], [TypeID]) VALUES (3, N'วัดพระธาตุดอยสุเทพ', N'วัดสำคัญของเชียงใหม่ ตั้งอยู่บนยอดดอยสุเทพ มีวิวที่สวยงามของเมืองเชียงใหม่และเป็นสถานที่ที่ศักดิ์สิทธิ์', N'https://www.museumthailand.com/upload/evidence/1498710820_19818.jpg', N'เชียงใหม่', 1)
GO
INSERT [dbo].[Type_tb] ([TypeID], [TypeName]) VALUES (1, N'วัด')
INSERT [dbo].[Type_tb] ([TypeID], [TypeName]) VALUES (2, N'ทะเล')
INSERT [dbo].[Type_tb] ([TypeID], [TypeName]) VALUES (3, N'ภูเขา')
GO
SET IDENTITY_INSERT [dbo].[User_tb] ON 

INSERT [dbo].[User_tb] ([UserID], [Username], [Useremail], [Password], [Role]) VALUES (1, N'jim', N'jim@gmail.com', N'jim123', N'Admin')
INSERT [dbo].[User_tb] ([UserID], [Username], [Useremail], [Password], [Role]) VALUES (2, N'nay', N'nay@gmail.com', N'nay123', N'Admin')
INSERT [dbo].[User_tb] ([UserID], [Username], [Useremail], [Password], [Role]) VALUES (3, N'a', N'a@gmail.com', N'a123', N'User')
SET IDENTITY_INSERT [dbo].[User_tb] OFF
GO
USE [master]
GO
