@model IEnumerable<Travelinthai.Models.Type_tb>
@* *@

<a href="/Account/Login" class="btn btn-info">Logout</a>
<a href="/Location/index" class="btn btn-info">location</a>
<div class="container">
    <div class="row">
        @foreach(var Ttpe in Model)
        {
            <div class="col-md-3 mb-4"></div>
            <div></div>
            
        }
        <div class="container" style="justify-items:center;">
            <a href="/Location/Index">
                <div class="card mg">
                    <div class="card-img-bottom">
                        <img src="https://artralux.co.th/wp-content/uploads/2023/07/%E0%B9%80%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%A7%E0%B8%A1%E0%B8%B1%E0%B8%A5%E0%B8%94%E0%B8%B5%E0%B8%9F%E0%B8%AA%E0%B9%8C-3.jpg">
                        <h1> sea </h1>
                    </div>

                </div>

        </div>
    </div>
</div>


