@model IEnumerable<Travelinthai.Models.Type_tb>
@* *@

<a href="/Account/Login" class="btn btn-info">Logout</a>
<a href="/Location/index" class="btn btn-info">location</a>
<div class="container">
    <div class="row">
        @foreach(var Ttpe in Model)
        {
            <div class="col-md-3 mb-4"></div>

        }
    </div>
</div>


