@model IEnumerable<Travelinthai.Models.Type_tb>
@* *@


<div class="container">
    <div class="col-md-3 w-100 ">
        <a href="/Admin/MesasureAdmin/">
            <div class="card-img">
                <div class="card h-100">
                            <img src="https://blog.bangkokair.com/wp-content/uploads/2023/07/image-36.png" style="">
                            <h1> Measure </h1>
                    
                        </div>
            </div>
    </div>
    <div class="col-md-3 w-100 ">
        <a href="/Admin/BeachAdmin">
                        <div class="card-img">
                <div class="card h-100">
                            <img src="https://artralux.co.th/wp-content/uploads/2023/07/%E0%B9%80%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%A7%E0%B8%A1%E0%B8%B1%E0%B8%A5%E0%B8%94%E0%B8%B5%E0%B8%9F%E0%B8%AA%E0%B9%8C-3.jpg">
                            <h1> Beach </h1>
                        </div>
                </div>
    </div>

    <div class="col-md-3 w-100 ">
        <a href="/Admin/MountainAdmin">
                    <div class="card-img">
                <div class="card h-100">
                            <img src="https://cdn.pixabay.com/photo/2021/11/21/21/14/mountain-6815304_1280.jpg">
                            <h1> Mountain </h1>
                        </div>
                </div>
    </div>

    <div class="col-md-3 w-100 ">
        <a href="/Admin/WaterfallAdmin">
                    <div class="card-img">
                <div class="card h-100">
                            <img src="https://s359.kapook.com/pagebuilder/9e9cd081-7608-4380-aaf9-8b0da4820fff.jpg">
                            <h1> Waterfall </h1>
                        </div>
                </div>
     </div>
    
</div>


